<!DOCTYPE html >
<html>
{% module Template("head.html") %}
<body>
{% module Template("nav.html") %}
<div id="main">


    <div id="music">
        <h2>Pick A Song From The Queue And Play Just For You By Clicking The Link...</h2>
        <section class="song">
        </section>

        <ul class="menu">
            <li><a id="LetterToElise" class="play" href="{{ static_url('music/Cure_Wish_LetterToElise.mp3') }}">LetterToElise</a></li>
            <li><a id="WorldLeaderPretend" class="play" href="{{ static_url('music/REM_Green_WorldLeaderPretend.mp3') }}">WorldLeaderPretend</a></li>
            <li><a id="Explosions" class="play" href="{{ static_url('music/TheMaryOnettes_TheMaryOnettes_Explosions.mp3') }}">Explosions</a></li>
            <li><a id="GoodLife" class="play" href="{{ static_url('music/OneRepublic_WakingUp_GoodLife.mp3') }}">GoodLife</a></li>
            <li><a id="DoYouRealize" class="play" href="{{ static_url('music/TheFlamingLips_Yoshimi_DoYouRealize.mp3') }}">DoYouRealize</a></li>
        </ul>

        <h2>Users In This Room...</h2>
        <div id="floor">
            {% for user in room['users'] %}
            {% module Template("user.html", user=user) %}
            {% end %}
        </div>

    </div>

    <div id="chat">
        <h2>Or... Type "\song NAME" in Chat To Play A Song For All Your Friends</h2>
        <h3>(Chat About Anything Else Too)</h3>
        <div id="inbox">
            {% for message in messages %}
            {% module Template("message.html", message=message) %}
            {% end %}
        </div>
        <div id="input">
            <form action="/a/message/new" method="post" id="messageform">
                <table>
                    <tr>
                        <td><input name="body" id="message" style="width:500px"/></td>
                        <td style="padding-left:5px">
                            <input type="submit" value="{{ _('Post') }}"/>
                            <input type="hidden" name="next" value="{{ request.path }}"/>
                            {% module xsrf_form_html() %}
                        </td>
                    </tr>
                </table>
            </form>
        </div>
    </div>
</div>

</body>
</html>
